* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', Arial, sans-serif, "Luckiest Guy";
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  color: #333;
  font-size: 1rem;
}

.counter, .counttxt {
  font-size: 48px;
  color: #333;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
}

.counter {
  margin-left: auto;
  margin-right: auto;
}

.counttxt {
  margin-top: -350px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002ddf;
  padding: 50px 40px;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 0.4px;
  width: 100%;
}

nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

nav a {
  color: #fff;
  font-size: 1.2em;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: #11aaff;
  color: #001155;
  border-radius: 8px;
}

.logo {
  width: 130px;
  height: 100px;
  margin-left: 10px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: #11aaff;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background-color: #002ddf;
    position: absolute;
    top: 60%;
    left: 0;
    padding: 0;
    z-index: 1000;
  }

  nav.open {
    display: flex;
  }

  nav a {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid white;
    background-color: #0529b8;
  }

  .hamburger {
    display: block;
  }

  .nav-section {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family: "Luckiest Guy", cursive;
    font-size: 13px;
    font-weight: 600;
  }

  .logo {
    width: 100px;
    margin-right: 90px;
  }
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 320px;
}

.CodeContainer img,
.SkiContainer img,
.TennisContainer img {
  height: 370px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.CodeContainer img:hover,
.SkiContainer img:hover,
.TennisContainer img:hover {
  transform: scale(1.3);
}

#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #9f9f9f;
  color: white;
  padding: 15px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 55px;
}

#scrollToTopBtn.show {
  display: block;
  opacity: 0.7;
  transform: scale(1);
}

#scrollToTopBtn:hover {
  opacity: 1;
  transform: scale(1.2);
}

html {
  scroll-behavior: smooth;
}
